.bg-animation {
    &::before {
        -webkit-transform-origin: 2.1em 2.1em 1px;
        transform-origin: 2.1em 2.1em 1px;
        -webkit-transform: scale(1.1) translate(-1.05em, -1.05em);
        transform: scale(1.1) translate(-1.05em, -1.05em);

        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation: 12s bg-large ease-out 0s;
        -o-animation: 12s bg-large ease-out 0s;
        animation: 12s bg-large ease-out 0s;
    }
}

.bg {
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;

        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        background-color: #6a9cbc;
    }

    &._01 {
        &::before {
            background-image: url('../images/bg-main.jpg');
        }
    }

    &._02 {
        &::before {
            background-image: url('../images/bg-footer.jpg');
        }
    }
}

@keyframes bg-large {
    from {
        -webkit-transform: scale(1) translate(0);
        transform: scale(1) translate(0);
    }
    to {
        -webkit-transform: scale(1.1) translate(-1.05em, -1.05em);
        transform: scale(1.1) translate(-1.05em, -1.05em);
    }
}