$bg-width: 1200px;
@media screen {
    .banner {
        $h: 425px;
        height: $h;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: $bg-width auto;
        background-color: #6a9cbc;

        &._01 {
            background-image: url('../images/image-001-1200x675.jpg');
        }

        &._02 {
            background-image: url('../images/image-002-1920x1080.jpg');
        }
    }
}

@media screen and (min-width: 640px) {
    .banner {
        $h: 675px;
        height: $h;
    }
}

@media screen and (min-width: $bg-width) {
    .banner {
        background-size: 100% auto;
    }
}