@media screen {
    .banner {
        height: $banner-mobile-height;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: $banner-width auto;
        background-color: #6a9cbc;

        &._01 {
            background-image: url('../images/image-001-1200x675.jpg');
        }

        &._02 {
            background-image: url('../images/image-002-1920x1080.jpg');
        }
    }
}

@media screen and (min-width: $response-1) {
    .banner {
        height: $banner-pad-height;
    }
}

@media screen and (min-width: $banner-width) {
    .banner {
        background-size: 100% auto;
    }
}