@import "common/variables";
@import "common/global";
@import "common/background";

@import "widgets/header";
@import "widgets/main";
@import "widgets/menu";
@import "widgets/content";
@import "widgets/footer";

@import "components/button";
@import "components/icon";


