.bg-01 {
    background-image: url('images/image-002-1920x1080.jpg');
    //-webkit-background-size: 100%;
    //background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-color: #6a9cbc;
}