html, body {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;

    &:hover, &:focus, &:active {
        outline: none;
        text-decoration: none;
    }
}

.bask {
    font-family: 'Libre Baskerville';
    letter-spacing: 3.2px;
}