$white: #fff;
$black: #000;
$dark: #3c3940;
$bg-main: #fafafa;
$bg-main-2: #f4f4f5;

$banner-width: 1200px;
$banner-mobile-height: 400px;
$banner-pad-height: 610px;

$response-1: 768px;
$response-2: 1280px;

// 移除箭頭和藍色外框
//summary {
//    &::-webkit-details-marker {
//        display: none;
//    }
//
//    &:focus {
//        outline: -webkit-focus-ring-color auto 0;
//    }
//}

.pof {
  position: fixed;
}