.content {
    position: relative;
    width: 100%;
    height: 100%;
    float: right;
    opacity: 1;
    visibility: visible;
}

figure {
    position: relative;
    margin: 0;
    padding: 0;

    &.full {
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.bg-theme-color {
    position: relative;
    width: 100%;
    margin: 0 auto;
    z-index: 2;
    background-color: $bg-main;
}

article {
    max-width: 980px;
    //width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 20px;
}

.full {
    width: 100%;
    height: 100%;
}

$bg-width: 1200px;
.banner {
    $h: 675px;
    height: $h;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: $bg-width auto;
    background-color: #6a9cbc;
    background-image: url('../images/image-001-1200x675.jpg');
}

@media screen and (min-width: $bg-width) {
    .banner {
        background-size: 100% auto;
    }
}