.content {
    position: relative;
    //width: calc(100% - #{$menu-width});
    //height: calc(100vh - #{$header-height} - #{$footer-height});
    width: 100%;
    height: 100%;
    background-color: #6a9cbc;
    float: right;
    overflow-y: auto;
    opacity: 1;
    visibility: visible;
}

figure {
    position: relative;
    margin: 0;
    padding: 0;

    &.full {
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.full {
    width: 100%;
    height: 100%;
}