.header {
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 40px;
}

.main-title {
    font-size: 36px;
    color: $white;
    letter-spacing: 2.6px;
    margin: 0;
    padding: 0;

    -webkit-transition: font-size .25s ease-out;
    -moz-transition: font-size .25s ease-out;
    -ms-transition: font-size .25s ease-out;
    -o-transition: font-size .25s ease-out;
    transition: font-size .25s ease-out;

    &.has-content {
        font-size: 18px;
        letter-spacing: 1.8px;
    }
}