.header {
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 40px;
    //height: 60px;
    //width: 100px;
    //background-color: #f2c9db;
}

.main-title {
    font-size: 36px;
    color: $white;
    letter-spacing: 2.6px;
    margin: 0;
    padding: 0;
}