@media screen {
    .menu {
        position: absolute;
        z-index: 1;
        left: 55px;
        bottom: 84px;
        opacity: .95;

    }

    nav.main-menu {
        > ul {
            font-weight: 400;
            margin: 0;
            padding: 0;

            > li {
                position: relative;
                list-style: none;
                margin-bottom: 21px;
                color: $white;
                font-size: 14px;

                > a {
                    position: relative;
                    color: $white;

                    &::after {
                        content: '';
                        position: absolute;
                        height: 1px;
                        width: 0;
                        left: 0;
                        bottom: -4px;
                        background-color: $white;

                        -webkit-transition: width .3s ease-in .1s;
                        -moz-transition: width .3s ease-in .1s;
                        -ms-transition: width .3s ease-in .1s;
                        -o-transition: width .3s ease-in .1s;
                        transition: width .3s ease-in .1s;
                    }
                }

                &.active {
                    > a {
                        &::after {
                            width: 100%;
                        }
                    }
                }

                > a {
                    &:hover, &:focus, &:active {
                        &::after {
                            width: 100%;

                            -webkit-transition: width .225s ease-in;
                            -moz-transition: width .225s ease-in;
                            -ms-transition: width .225s ease-in;
                            -o-transition: width .225s ease-in;
                            transition: width .225s ease-in;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 480px) {

}