@media screen {
    .menu {
        position: fixed;
        z-index: 1;
        left: 40px;
        bottom: 64px;
        opacity: .95;

        .toggle {
            position: fixed;
            display: block;
            right: 30px;
            top: 20px;
            font-size: 20px;
            color: $white;

            &:hover, &:focus, &:active {
                color: $white;
            }
        }

        &.has-content {
            nav.main-menu {
                opacity: 0;
                visibility: hidden;
            }
        }

        &.active {
            z-index: 3;

            nav.main-menu {
                position: fixed;
                display: block;
                opacity: 1;
                visibility: visible;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                width: calc(100% - 30px);
                height: 100%;
                background-color: rgba(40, 40, 40, .875);
                padding-left: 30px;

                > ul {
                    position: absolute;
                    top: calc(50% - 87px);
                }
            }
        }
    }

    nav.main-menu {
        -webkit-transition: background-color .275s linear, opacity .275s linear;
        -moz-transition: background-color .275s linear, opacity .275s linear;
        -ms-transition: background-color .275s linear, opacity .275s linear;
        -o-transition: background-color .275s linear, opacity .275s linear;
        transition: background-color .275s linear, opacity .275s linear;

        > ul {
            font-weight: 400;
            margin: 0;
            padding: 0;

            > li {
                position: relative;
                list-style: none;
                margin-bottom: 21px;
                color: $white;
                font-size: 14px;

                > a {
                    position: relative;
                    color: $white;

                    &::after {
                        content: '';
                        position: absolute;
                        height: 1px;
                        width: 0;
                        left: 0;
                        bottom: -4px;
                        background-color: $white;

                        -webkit-transition: width .3s ease-in .1s;
                        -moz-transition: width .3s ease-in .1s;
                        -ms-transition: width .3s ease-in .1s;
                        -o-transition: width .3s ease-in .1s;
                        transition: width .3s ease-in .1s;
                    }
                }

                &.active {
                    > a {
                        &::after {
                            width: 100%;
                        }
                    }
                }

                > a {
                    &:hover, &:focus, &:active {
                        &::after {
                            width: 100%;

                            -webkit-transition: width .225s ease-in;
                            -moz-transition: width .225s ease-in;
                            -ms-transition: width .225s ease-in;
                            -o-transition: width .225s ease-in;
                            transition: width .225s ease-in;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 640px) {
    .menu {
        left: 55px;
        bottom: 84px;

        .toggle {
            display: none;
        }

        &.has-content {
            top: 75px;
            left: 40px;
            bottom: auto;

            nav.main-menu {
                opacity: 1;
                visibility: visible;
                width: 100%;

                > ul {
                    &.bask {
                        letter-spacing: 1.8px;
                    }

                    > li {
                        $pr: 5px;
                        float: left;
                        padding-right: $pr;
                        font-size: 86%;
                        line-height: 1;

                        + li {
                            &::before {
                                content: '/';
                                padding-right: $pr;
                            }
                        }
                    }
                }
            }
        }

        &.active {
            z-index: 1;
            
            nav.main-menu {
                position: relative;
                left: auto;
                right: auto;
                top: auto;
                bottom: auto;
                background-color: transparent;
                padding-top: 0;
                padding-left: 0;
            }
        }
    }
}